.app.dark {
  --bg-color: rgb(3, 3, 83);
  --inverted-bg-color: rgb(215, 213, 213);

  --primary-color: green;
  --secondary-color: rgb(10, 200, 10);

  --inverted-primary-color: rgb(17, 5, 130);
  --inverted-secondary-color: rgb(41, 98, 241);
}
